<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>

    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                联系方式
                <ul class="contact-list">
                    {% if site.email %}
                    <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    {% endif %}
                    <li>
                        <a class="u-github" href="https://github.com/Qquanwei">github.com/{{ site.github_username }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
